@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display');

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Playfair Display', serif;
    size: 2rem;
}

.NavBar {
    border: 1px black solid;
    background-color: yellow;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: space-around;
    padding: 10px 30px 10px 30px;
}

.logo {
    height: 75px;
    width: 150px;
    border: 1px black solid;
    background-color: turquoise;
}

ul.links li {
    display: inline;
    list-style: none;
    margin-left: 30px;
    margin-right: auto;
}

.Header {
    border: 1px black solid;
    background-color: pink;
}

.AboutMe {
    border: 1px black solid;
    background-color: yellow;
}

.MajorProjects {
    border: 1px black solid;
    background-color: pink;
}

.MinorProjects {
    border: 1px black solid;
    background-color: yellow;
}
.WorkWithMe {
    border: 1px black solid;
    background-color: pink;
}
.MaPrLeadLifecycle {
    border: 1px black solid;
    background-color: red;
}
